body{
    background-color: #1d2127;
    color: white;
    padding: 0;
    margin: 0;

}
h1{
    margin: 0 0 0 8px;
    padding: 8px;
}
.bar{
    background-color: #464b55;
    padding: 10px;
    display: flex;
}
.logo{
    width: 20px;
    height: 50px;
}